<%- include('partials/header') %>
    <body>
        <div class="container">

            <div class="formContainer">
                <h1 id="newCharacterFormHeader">New Character</h1>
                <form action="/characters/add" method="POST">
                    <div class="form-group">
                        <label class="label" for="characterName">Player Name</label>
                        <input type="text" name="characterName" placeholder="Enter character name">
                    </div>
                    <div class="form-group">
                        <label class="label" for="characterAC">AC</label>
                        <input type="number" name="characterAC" placeholder="Enter armor class">
                    </div>
                    <div class="form-group">
                        <label class="label" for="characterMaxHP">Max HP</label>
                        <input type="number" name="characterMaxHP" placeholder="Enter max HP">
                    </div>
                    <button id="btnAddNewCharacter" class="btn btn-lg btn-primary" type="submit" name="btnAddCharacter">Add New Character</button>
                </form>
            </div>

        </div>
    </body>
</html>