<%- include('partials/header') %>
    <body>
        <div class="container">
            <div class="landing">

                <h1 id="headerTitle">DnD Combat Tracker</h1>
            
                <div id="landingBtns">
                    <form action="/master" method="GET">
                        <button type="submit" class="btn btn-secondary btn-lg btn-block encounterBtns">Create Encounter</button>
                    </form>
                    <form action="/players" method="GET">
                        <button type="submit" class="btn btn-secondary btn-lg btn-block encounterBtns">Join Encounter</button>
                    </form>
                </div>
                
            </div>
        </div>
    </body>
</html>